<h1><%= @topic.title %> by <%= @topic.user.firstname %> <%= @topic.user.lastname %></h1>

<h2><%= @topic.body %></h2>

<% if @topic.user.id == current_user.id %>
<%= link_to "Edit", edit_topic_path(@topic) %>
<%= link_to "Delete", topic_path(@topic), method: :delete, data:{ confirm:"ARE YOU SURE?!?" } %>
<% end %>

<p>Comments (<%= @topic.comments.count %>)</p>
<ul>
	<% @comments.each do |comment| %>
	<li><%= comment.body %> by <%= comment.user.firstname %></li>
	<% if comment.user == current_user %>
	<%= link_to "Edit", edit_topic_comment_path(:id => comment.id, :topic_id => @topic.id) %>
	<%= link_to "Delete", topic_comment_path(:id => comment.id, :topic_id => @topic.id), method: :delete %>
	<% end %>
	<% end %>
</ul>

<%= link_to "Post comment", new_topic_comment_path(@topic)%>