<h1><%= @topics.title %> by <%= @topics.user.firstname %> <%= @topics.user.lastname %></h1>

<h2><%= @topics.body %></h2>

<p>Comments (<%= @topics.comments.count %>)</p>
<ul>
	<% @comments.each do |s| %>
	<li><%= s.body %></li>
	<% end %>
</ul>

<%= link_to "Post comment", new_topic_comment_path(@topics)%>
