<!DOCTYPE html>
<html>
  <head>
    <title>Forumapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if user_signed_in? %>
		<p>Currently logged in as: <%= link_to "#{current_user.firstname}", user_path(current_user.id) %></p>	
	<% else %>
		<p>Not currently logged in</p>
	<% end %>
    <%= yield %>
  </body>
</html>

